In [3]:
import pandas as pd
import numpy as np
import os

In [10]:
train = pd.read_csv('../../data/raw/train.csv')
depths = pd.read_csv('../../data/raw/depths.csv')

In [13]:
train.values[5][1]

'1 1815 1819 90 1920 81 2021 73 2122 64 2223 55 2324 46 2425 36 2526 25 2627 13 2728 1'

In [11]:
depths.head()

           id    z
0  4ac19fb269  306
1  1825fadf99  157
2  f59821d067  305
3  5b435fad9d  503
4  e340e7bfca  783